include /blocks/card/card

mixin about()
  +card
    +b.about
      h2
        | Hello, my name is Konstantin Epishev!
      p
        | I'm software engineer and I love to create user interfaces.
      h3 Links
      +e.UL.list
        li
          a(href="mailto:lamartire@gmail.com" title="Contact email") lamartire@gmail.com
        li
          a(href="https://github.com/lamartire" target="_blank" title="Github profile") Github
        li
          a(href="https://www.linkedin.com/in/konstanitn-epishev-a53092150/" target="_blank" title="LinkedIn profile") LinkedIn
