.about__list {
  list-style: none;
  margin: 0;
  margin-bottom: 1.5em;
  padding: 0;
}

.about__list li {
  margin-bottom: 0.5em;
}

.about__cv {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
}
