.about__cv {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
}

.about__list {
  margin: 0;
  padding-left: 1.2em;
}

.about__list > li:not(:last-child) {
  margin-bottom: 0.5em;
}
