include /blocks/card/card

mixin about()
  +card
    +b.about
      h3 Hello, my name is Kostya!
      //- p I'm passionate UI developer and Software Engineer.
      //- p 
      //-   | My main specialization – is interfaces development from scratch and not from scratch. 
      //-   | Also I really love to invent tools and things for developer experience improvement.
      //- p
      //-   | On this site you can get acquainted with the information about me, from employment history
      //-   | to my own projects.
      //- h3 Summary
      p Name: #[strong Konstantin Epishev]
      p Date of Birth: #[strong 1994 June 19th]
      p Citizenship: #[strong Russian Federation]
      p Languages: #[strong 🇷🇺 Russian], #[strong 🇬🇧 English], #[strong 🇵🇱 Polish] (beginner)
