.labeled-list ul {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.labeled-list li {
  flex: 0 0 auto;

  &:not(:last-child) {
    margin-right: 8px;
  }

  &:not(:last-child):after {
    content: ',';
  }
}
