include /blocks/container/container

mixin footer()
  +b.FOOTER.footer
    +container
      p
        | 2019 ~ 2021, Epishev Konstanin. #[a(href="https://github.com/lamartire/epishev.ru") Sources on GitHub]
      p
        | MIT License
