extends /layouts/default

include /blocks/page-section/page-section
include /blocks/jobs-showcase/jobs-showcase
include /blocks/about/about
include /blocks/card/card

block content
  +page-section("About me")
    +about
  +page-section("Employment history")
    +jobs-showcase(cv)