*,
body {
  font-family: Iosevka;
  box-sizing: border-box;
  font-size: 1em;
}

body {
  padding: 2em;
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p {
  line-height: 1.5;
  margin-bottom: 1em;
}

a {
  color: var(--link);
}
