@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #fff;
    --color-link: #9543a6;
    --color-text: #2f2f2f;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #454545;
    --color-link: #9543a6;
    --color-text: #cecece;
  }
}
