include ./../../node_modules/bemto.pug/bemto
include /blocks/head/head
include /blocks/header/header
include /blocks/footer/footer
include /blocks/container/container

+head('Konstantin Epishev ~ Software engineer')

body
  +header
  block content
  +footer
  script(src='assets/js/app.js')
